* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title{
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin: 15px 20px;
    color: #000080;
}

nav{
    float: right;
}

.flex {
    display: flex;
    flex-direction: column;
}

.home{
    font-size: 15px;
    font-weight: bold;
    float: left;
    margin: 10px 8px;
    color: #000080;
}

.zigyonaiyo {
    font-size: 15px;
    font-weight: bold;
    float: left;
    margin: 10px 8px;
    color: #000080;
}

.saiyozyoho{
    font-size: 15px;
    font-weight: bold;
    float: left;
    margin: 10px 8px;
    color: #000080;
}

.otoiawase{
    font-size: 15px;
    font-weight: bold;
    float: left;
    margin: 10px 8px;
    color: #000080;
}

a {
    text-decoration: none;
}

.main_left{
    transform: translate(0px, 280px);
}

.main_letf_text{
    font-size: 50px;
    margin-bottom: 0px;
}

.main_left_line{
    width: 70%;
    height: 170px;
    background-color: #093a7f;
    position: relative;
    bottom: 0px;
}

.image{
    float: right;
    transform: translate(0px, -200px);
}